body{
    margin: 0 !important;
    padding:0;
    background-color: rgb(245, 245, 245);
    font-family: 'Noto Sans', sans-serif;
}

a{
    text-decoration: none;
}
header{
    background-color: #FD7028;
}

nav{
    height: 100%;
    width:0;
    background-color: #200E32;
    position:fixed;
    top:0;
    left:0;
    z-index: 99999999999;
    overflow: hidden;
    transition: width 0.5s;
}
nav h4{
    color: white;
    font-size:20px;
    display: block;
    padding: 12 10 10 12;
    text-align: center;
}
nav a{
    color:white;
    font-size:20px;
    display: block;
    padding: 12px 10px 12px 32px;
}
#chartsContainer canvas{
    position: relative;
    width: 100%;
    border: 1px solid gray;
    background: #EEEEEE;
    box-shadow: 1px 1px 20px rgb(201, 201, 201);
    border: 1px solid purple;
    border-radius:5px;
}

#chartsContainer{
    width:100%;
    display: grid;
    background-color: rgb(255, 255, 255);
    grid-template-columns: 1fr 1fr;
    transition: margin 0.5s;
    margin: 0 !important;

}
.chartArea{
    margin-top:15px;
    margin-bottom: 20px;
    background-color: #fd6f2885;
    padding:20px;
    width:90%;
    border-radius: 30px;
    
}
canvas #briefChart{
    width:100%;
}
.briefChartArea{
    background-color: rgb(255, 255, 255);
    margin: 20px;
    text-align: center;
    width:80%;
}
.briefChartFull{
    width:90%;
    padding:20px;
    background-color: white;
    border: 1px solid #FD7028;
    border-radius:20px;
}
.briefChartArea h4{
    margin-top: 0;
    margin-bottom: 40px;
    padding: 0;
}
h1{
    font-size: 30px;
}

#sideMenu{
    background: rgb(24,24,24);
    background: linear-gradient(0deg, rgba(24,24,24,1) 0%, rgba(55,55,55,1) 100%);
}
.btn-openMenu{
    position:fixed;
    color:white;
    font-size: 25px;
}
.btn-closeMenu{
    display: flex;
    margin:0;
    color:white;
    font-size: 25px;
    padding: 10px 10px 30px 30px;
}
#dashHeader{
    position: fixed;
    width: 100%;
    height: 25px;
    margin:0;
    padding: 10px 20px 20px 20px;
    transition: display 0.5s;
    z-index: 10000000;
    
}
#title{
    color:white;
    font-family: 'Otomanopee One', sans-serif;
    text-align: center!important;
    font-size:25px;
    justify-content: center;
    margin-top:0px;
    padding-bottom:20px ;
}
#mainContent{
    transition: margin 0.7s;
    padding-left: 20px;
}
#profile-img{
    border-radius:150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100px;
}
#profile-data{
    color:white;
    font-size:12px;
}
footer{
    position: block;  
    left: 10px;  
    bottom: 0px;  
    right: 10px;   
    width: 100%;  
    background-color: rgb(0, 0, 0);  
    color: white;  
    text-align: center;
    transition: margin 0.5s;  
}
#briefing{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    align-items: stretch;
    margin-left: 2%;
    justify-content: center;
}

#personalData p{
    display:flex;
    justify-content: space-around;
    font-size: 12px;
}