body{
    margin: 0 !important;
    padding:0;
    background-color: rgb(245, 245, 245);
    font-family: 'Noto Sans', sans-serif;
}
h2{
    padding-left: 30px;
}
a{
    text-decoration: none;
}
header{
    background-color: #6882FE;
}

nav{
    height: 100%;
    width:0;
    background-color: #200E32;
    position:fixed;
    top:0;
    left:0;
    z-index: 99999999999;
    overflow: hidden;
    transition: width 0.5s;
}
nav h4{
    color: white;
    font-size:20px;
    display: block;
    padding: 12 10 10 12;
    text-align: center;
}
nav a{
    color:white;
    font-size:20px;
    display: block;
    padding: 12px 10px 12px 32px;
}
#chartsContainer canvas{
    position: relative;
    width: 100%;
    border: 1px solid gray;
    background: #ffffff;
    box-shadow: 1px 1px 20px rgb(201, 201, 201);
    border: 1px solid purple;
    border-radius:5px;
}

#chartsContainer{
    width:100%;
    display: grid;
    background-color: rgb(255, 255, 255);
    grid-template-columns: 1fr 1fr;
    transition: margin 0.5s;
    margin: 0px !important;
    padding-left:20px;
    padding-right:20px;

}
.chartArea{
    margin-top:15px;
    margin-bottom: 20px;
    background-color: #617efe79;
    padding:20px;
    width:90%;
    border-radius: 30px;
    
}
canvas #briefChart{
    width:100%;
}
.briefChartArea{
    background-color: rgba(255, 255, 255, 0);
    margin: 20px;
    text-align: center;
    width:80%;
}
.briefChartFull{
    width:90%;
    padding:20px;
    background-color: white;
    border: 1px solid #6882FE;
    border-radius:20px;
}
.briefChartArea h4{
    margin-top: 0;
    margin-bottom: 40px;
    padding: 0;
}
h1{
    font-size: 30px;
    padding-left: 15px;
}

#sideMenu{
    background: rgb(24,24,24);
    background: linear-gradient(0deg, rgba(24,24,24,1) 0%, rgba(55,55,55,1) 100%);
}
.btn-openMenu{
    position:fixed;
    color:white;
    font-size: 25px;
}
.btn-closeMenu{
    display: flex;
    margin:0;
    color:white;
    font-size: 25px;
    padding: 10px 10px 30px 30px;
}
#dashHeader{
    position: fixed;
    width: 100%;
    height: 25px;
    margin:0;
    padding: 10px 20px 20px 20px;
    transition: display 0.5s;
    z-index: 10000000;
    
}
#title{
    color:white;
    font-family: 'Otomanopee One', sans-serif;
    text-align: center!important;
    font-size:25px;
    justify-content: center;
    margin-top:0px;
    padding-bottom:20px ;
}
#mainContent{
    transition: margin 0.7s;
    padding-left: 0px;
}
#profile-img{
    border-radius:150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100px;
}
#profile-data{
    color:white;
    font-size:12px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(65, 65, 65);
    border-radius: 10px;
}
footer{
    position: block;  
    left: 10px;  
    bottom: 0px;  
    right: 10px;   
    width: 100%;  
    background-color: rgb(0, 0, 0);  
    color: white;  
    text-align: center;
    transition: margin 0.5s;  
}
#briefing{
    display: grid;
    grid-template-columns: 2fr 2fr;
    align-items: stretch;
    margin-left: 2%;
    justify-content: center;
}

#personalData p{
    display:flex;
    justify-content:center;
    font-size: 14px;
    font-weight: 800;
    color: #FFC200;
}

#personalData p spam{
    font-weight: 500!important;
    color: #ffffff;
}

#circle {
	width: 400px;
    margin: 6px 20px 20px;
    display: inline-block;
    position: relative;
    text-align: center;
	vertical-align: top;
}
#circle strong {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    text-align: center;
    line-height: 100px;
    font-size: 25px;
    color: #FA70A1;
}

#records{
    color: gray;
    line-height: 1;
}
#records spam{
    color:#FA70A1;
}

#circleChart{
    text-align: center;
}
#donut3 *{
    color: white;
}
#darkModeTitle{
    justify-content: center;
}
.slider round{
    display: flex;
    justify-content: center;
    text-align: center;
}
#slideMenu #profile-data canvas{
    font-size:50px!important;
    color:white
}

#welcomeMsg{
    display: flex;
    background-color: white;
    padding-top: 15px;
    padding-bottom: 20px;
    border-radius: 10px;
    margin-left:20px;
    margin-right:20px;
    color: #FA70A1;
    -webkit-box-shadow: 0px 1px 13px -7px #000000, 0px 0px 3px 0px rgba(0,0,0,0.2); 
    box-shadow: 0px 1px 13px -7px #000000, 0px 0px 3px 0px rgba(0,0,0,0.2);
}
#welcomeMsg h1{
    margin-top:50px
}
.column{
    flex: 50%;

}