body{
    margin: 0 !important;
    padding:0;
    background-color: rgb(245, 245, 245);
    font-family: 'Noto Sans', sans-serif;
}

a{
    text-decoration: none;
}
header{
    background-color: #200E32;
}

nav{
    height: 100%;
    width:0;
    background-color: #200E32;
    position:fixed;
    top:0;
    left:0;
    z-index: 1;
    overflow: hidden;
    transition: width 0.5s;
}
nav h4{
    color: white;
    font-size:20px;
    display: block;
    padding: 12 10 10 12;
    text-align: center;
}
nav a{
    color:white;
    font-size:20px;
    display: block;
    padding: 12px 10px 12px 32px;
}
#container canvas{
    position: relative;
    height:10vh; 
    width:20vw;
    border: 1px solid gray;
    background: white;
    box-shadow: 1px 1px 20px rgb(201, 201, 201);
}

#container{
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transition: margin 0.5s;

}
.chartArea{
    padding:20px;
    width:800px;
    border-radius: 30px;
}
.briefChartArea{
    justify-content: center;
    text-align: center;
    padding:20px;
    width:300px;
}
h1{
    margin: 0;
}
#menu{
    color:white;
    margin:0;
    background-color: #200E32;
}
#menu2{
    background-color:#200E32;
}
.btn-openMenu{
    color:white;
    font-size: 25px;
    vertical-align: middle;
}
.btn-closeMenu{
    color:white;
    font-size: 25px;
    padding: 10px 10px 30px 30px;
}
#dashHeader{
    display:flex;
    align-items: center;
    vertical-align: middle;
    margin:0;
    padding: 10px 10px 30px 30px;
    transition: display 0.5s;
    
}
#title{
    color:white;
    font-family: 'Otomanopee One', sans-serif;
    text-align: center!important;
    font-size:40px;
}
#content{
    transition: margin 0.7s;
}
#profile-img{
    border-radius:150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#profile-data{
    color:white;
    font-size:12px;
}
footer{
    position: block;  
    left: 10px;  
    bottom: 0px;  
    right: 10px;   
    width: 100%;  
    background-color: rgb(0, 0, 0);  
    color: white;  
    text-align: center;
    transition: margin 0.5s;  
}
#briefing{
    display: flex;
    justify-content:start;
}